---
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<BaseLayout>
  <h1>Astro ToDo App</h1>

  <p>
    Discover this intuitive task management app, crafted to provide you with a seamless
    and enjoyable experience!
  </p>

  <LinkButton path="/dashboard">Start Managing Your Tasks</LinkButton>
</BaseLayout>
