---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Astro ToDo App</h1>

  <p>
    Discover this intuitive task management app,
    crafted to provide you with a seamless and enjoyable experience!
  </p>

  <a href={import.meta.env.BASE_URL + "/dashboard"}>Start Managing Your Tasks</a>
</BaseLayout>
