---
interface Props {
  path: string;
}

const { path } = Astro.props;

const isOutsideLink = path.startsWith("https");
---

<a href={(isOutsideLink ? "" : import.meta.env.BASE_URL) + path}>
  <slot/>
</a>

<style>
  a:any-link {
    /* Set a white color regardless of link state */
    color: #f5f5f5;
  }

  a {
    /* Ensure link-button maintains its shape and doesn't word wrap on small sizes */
    display: inline-block;

    /* Use the default text color as a background*/
    background-color: #333;

    /* Remove default anchor styles */
    text-decoration: none;

    /* Add button appearance */
    padding: 0.5em;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
</style>
