---
import { ToDoFormField } from "../utils/constants";
---

<form id="todo-form" hidden>
  <ul>
    <li>
      <label for="todo-title">Title:</label>
      <input
        type="text"
        id="todo-title"
        name={ToDoFormField.Title}
        placeholder="Go for a walk"
      >
    </li>
    <li>
      <label for="todo-due-date">Due date:</label>
      <input type="date" id="todo-due-date" name={ToDoFormField.DueDate}>
    </li>
    <li>
      <input type="submit" id="todo-submit" value="Save">
      <input type="reset" id="todo-reset" value="Clear">
    </li>
  </ul>
</form>

<script>
  import { ToDoAction } from "../utils/constants";
  import { todoForm } from "../utils/form";

  todoForm(ToDoAction.Create, "todo-form");
</script>
